.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.without-CSS, .with-CSS {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.label {
    background-color: #333;
    color: white;
    margin-top: 0; 
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 3px solid #666;
}

.with-CSS .label {
    background-color: #003366;
    border-bottom: 3px solid #AB0520;
}

img {
    width: 300px;
}

.floatleft {
    float: left;
    clear:both;
    margin: 0 15px 15px 0;
}

ol {
    clear: both;
}

.with-CSS h1 {
   padding: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   color: rgb(255,255,255);
   background-color: rgb(255,0,0);

}

#author-name-and-date {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: rgb(128, 128, 128);
}

.with-CSS p, .with-CSS ol {
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   color: rgb(47, 79, 79)
}

.with-CSS a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: rgb(0, 0, 255);
}