/* Exercise 1 - Flexbox Layout */

#mod3-ex1 {
   font-family: Arial;
}

#mod3-ex1 #container {
   display: flex;
   gap: 20px;
   flex-direction: row-reverse;
   justify-content: center;
   flex-wrap: wrap;
}

#mod3-ex1 .photo {
   padding: 10px;
   box-shadow: 3px 3px 3px lightgray;
   border: 1px solid lightgray;   
}

#mod3-ex1 .photo img {
   width: 200px;
}

#mod3-ex1 .photo p {
   text-align: center;
}

/* Exercise 2 - Album of the Year Nominees */

#mod3-ex1 {
   font-family: Arial;
   font-size: 14px;
}

#mod3-ex1 section {
   background-color: #eee;
   margin: 5px;
   padding: 5px;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: 250px;
}

#mod3-ex1 h2 {
   margin: 0;  
}

#mod3-ex1 #albums-container {
   display: flex;
   flex-wrap: wrap;
}

#mod3-ex1 .source {
   font-size: 12px;
   font-style: italic;
}

/* Exercise 3 - Grid Layout */

#mod3-ex2 #grid-container { 
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
}

#mod3-ex2 figure {   
   display: flex;
   flex-direction: column;
   width: 180px;
   border: 1px solid lightgray;
   padding: 5px;
   margin: 10px;
   text-align: center;
}

#mod3-ex2 #grid-container2 {
   width: 400px;
   font-size: 2em;
   background: cornflowerblue;
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 5px 5px;
}

#mod3-ex2 #grid-container2 > div {
   background: powderblue;
   padding: 10px;
}

#mod3-ex2 #grid-container3 {
   width: 400px;
   font-size: 2em;
   background: cornflowerblue;
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 5px 5px;
}

#mod3-ex2 #grid-container3 > div {
   background: powderblue;
   padding: 10px;
}

#mod3-ex2 #grid-item-a {
   grid-row: 3 / 4;
}

#mod3-ex2 #grid-item-b {
   grid-column: 3 / 4;
   grid-row: 1 / 4; 
}

#mod3-ex2 #grid-item-c {
   grid-area: 1 / 1 / 4 / 3;
}

#mod3-ex2 #flexbox {
   display: flex;
   justify-content: center;
   gap: 20px;
}

/* Exercise 4 - Page Layout Example */

#mod3-ex2 .layout1 {
   background: black;
   font-size: 2em;
   text-align: center; 
}

#mod3-ex2 .header1 {
   background: cornflowerblue;
   margin-bottom: 0px;
}

#mod3-ex2 .nav1 {
   background: khaki;
}

#mod3-ex2 .article1 {
   background: darkseagreen;
}

#mod3-ex2 .aside1 {
   background: goldenrod;
}

#mod3-ex2 .footer1 {
   background: lemonchiffon;
   margin: 0px;
}

#mod3-ex2 .layout2 {
   background: black;
   font-size: 2em;
   text-align: center;
   display: grid;
   grid-template-columns: 150px auto 150px;
   grid-template-rows: 60px 180px 40px;
   grid-template-areas: 
      "head head head"
      "nav article aside"
      "foot foot foot";
}

#mod3-ex2 .header2 {
   background: cornflowerblue;
   margin-bottom: 0px;
   grid-area: head;
}

#mod3-ex2 .nav2 {
   background: khaki;
   grid-area: nav;
}

#mod3-ex2 .article2 {
   background: darkseagreen;
   grid-area: article;
}

#mod3-ex2 .aside2 {
   background: goldenrod;
   grid-area: aside;
}

#mod3-ex2 .footer2 {
   background: lemonchiffon;
   margin: 0px;
   grid-area: foot;
}

#mod3-ex2 .flexbox2 {
   display: flex;
   justify-content: center;
   gap: 20px;
   align-items: flex-start;
}

#mod3-ex2 h3 {
   text-align: center;
}

/* Exercise 5 - Positioning and Z-Index */

#mod3-ex3 img {
  position: relative;
  left: 10px;
  z-index: 0;
}

#mod3-ex3 .words {
   font-family: impact;
   font-size: 60px;
}

#mod3-ex3 .first {
   position: absolute;
   left: 130px;
   top: 187px;
   z-index: 2;   
}

#mod3-ex3 .heart {
   color: red; 
   font-size: 80px;
   position: absolute;
   left: 150px;
   top: 176px;
   z-index: 2;
}

#mod3-ex3 .last {
  position: absolute;  
  left: 130px;
  top: 245px;
  z-index: 2;
}

/* Exercise 6 - Box Shadows and Text Shadows */

#mod3-ex3 .card {
   width: 300px;
   background-color: #eee;
   border: solid 1px black;
   padding: 10px;
   margin-bottom: 10px;
   box-shadow: 3px 3px 3px blue;
}

#mod3-ex3 .question {
   text-shadow: 1px 1px 1px blue;
}

#mod3-ex3 .answer {
   box-shadow: 1px 1px 3px gold, 1px 1px 3px grey;
}

/* Exercise 7 - Border-Image */

#mod3-ex3 .border-image-example {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
}

#mod3-ex3 #example {
   width: 100px;
   border: 15px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 30 round;
}

#mod3-ex3 #example1 {
   width: 100px;
   border: 15px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 15 round;
}

#mod3-ex3 #example2 {
   width: 100px;
   border: 15px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 60 round;
}

#mod3-ex3 #example3 {
   width: 100px;
   border: 30px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 60 round;
}

#mod3-ex3 #example4 {
   width: 100px;
   border: 30px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 30 repeat;
}

#mod3-ex3 #example5 {
   width: 100px;
   border: 30px solid;
   padding: 15px;
   border-image: url(https://static-resources.zybooks.com/static/borderv2.png) 30 stretch;
}

/* Exercise 8 - CSS Gradients */

#mod3-ex3 #ad1, #mod3-ex3 #ad2, #mod3-ex3 #ad3 {
   text-align: center;
   width: 500px;
   height: 90px; 
   line-height: 80px;   
   font-weight: bold;
   margin-bottom: 10px;
}

#mod3-ex3 .gradient {
   background: radial-gradient(at 80% 80%, gray, white);
   display: inline-block;
   padding: 10px;
}

#mod3-ex3 #ad1 {   
   font-size: 38pt;
   background: repeating-radial-gradient(pink, gold, skyblue 15%);
}

#mod3-ex3 #ad2 {
   font-size: 28pt;
   font-family: arial;
   font-style: italic;
   color: white;
   background: linear-gradient(to right,red, orange, red, black);
}

#mod3-ex3 #ad3 {
   font-size: 34pt;
   font-family: tahoma;
   font-variant: small-caps;
   color: black;
   background: repeating-linear-gradient(to top left, rgba(30, 143, 255, 0.837), rgba(220, 220, 220, 0.881) 10%);
}

/* Exercise 9 - Styled Forms */

#mod3-ex4 .form1 {
   font: 13px Arial;
   background-color: #eee;
   padding: 10px;
}

#mod3-ex4 .label1 {
   width: 50px;
   display: inline-block;
   text-align: right;
   margin-right: 8px;
}

#mod3-ex4 form input[type=text], #mod3-ex4 form input[type=email], #mod3-ex4 form select {
   box-sizing: border-box;
   width: 250px;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 4px;
}

 #mod3-ex4 form input[type=submit] {
   width: 200px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

#mod3-ex4 form1 input[type=submit]:hover {
   background-color: #07d;
}

/* Exercise 10 - Custom radio buttons and checkboxes */

#mod3-ex4 fieldset input[type=radio] + label {
   cursor: pointer;
   font-size: 1.3em;
}

#mod3-ex4 fieldset input[type=radio] { 
   appearance: none;
   margin: 0;
}

#mod3-ex4 fieldset input[type=radio] + label::before {
   content: "\00a0";   /* Non-breaking space */
   border-radius: 10px;
   display: inline-block; 
   width: 16px;
   height: 16px;  
   text-align: center;
   line-height: 1em;
   font-size: 0.8em; 
   margin-right: 10px;
   border: 0.125em solid white;   /* Push focus shadow away */
   background-color: #aaa;
}

#mod3-ex4 fieldset input[type=radio]:checked + label::before {
   content: "\2022";
   color: #fff;
   background: green;
}

#mod3-ex4 fieldset input[type=radio]:focus + label::before {
   box-shadow: 0 0 0 1px gray;
}

#mod3-ex4 fieldset {
   border-radius: 10px;
   margin-bottom: 15px;
   font-family: Arial;
   display: inline-block;
}

#mod3-ex4 fieldset input[type=checkbox] {
   appearance: none;
   margin: 0;
}

#mod3-ex4 fieldset input[type=checkbox] + label {
   cursor: pointer;
   font-size: 1.3em;
}

#mod3-ex4 fieldset input[type=checkbox]:checked + label::before {
   content: "\2713";  /* Checkmark */
   color: white;
   background: green;      
}

#mod3-ex4 fieldset input[type=checkbox] + label::before {
   content: "\00a0";   /* Non-breaking space */
   display: inline-block; 
   width: 16px;
   height: 16px;
   text-align: center;
   line-height: 1em;
   font-size: 0.8em; 
   margin-right: 10px;
   border: 0.125em solid white;   /* Push focus shadow away */
   background-color: #aaa;
}

#mod3-ex4 fieldset input[type=checkbox]:checked + label::before {
   content: "\2713";  /* Checkmark */
   color: white;
   background: green;      
}

#mod3-ex4 fieldset input[type=checkbox]:focus + label::before {
   box-shadow: 0 0 0 1px gray;
}

/* Lab 14 - Recipe Page Layout with Flexbox */

#mod3-ex5 {
   margin: 0;
   font-family: Helvetica, sans-serif;
}

#mod3-ex5 header {
   border-bottom: 2px solid #93B5C6;
   background-color: #DDEDAA;
   padding: 8px;
   display: flex;
   justify-content: space-between;
}

#mod3-ex5 .logo {
   color: #BD4F6C;
   font-size: 18px;
}

#mod3-ex5 .content {
   margin-left: 30px;
   display: flex;
   flex-wrap: wrap;
}

#mod3-ex5 .title {
   border-bottom: 1px dashed #93B5C6;
   display: flex;
   align-items: baseline;
}

#mod3-ex5 .title h1 {
   color: #BD4F6C;
}

#mod3-ex5 .title p {
   color: #93B5C6;
   margin-left: 30px;
}

#mod3-ex5 .summary {
   margin-top: 30px;
   display: flex;
   justify-content: space-evenly;
   flex-grow: 1;
   flex-basis: 100%;
}

#mod3-ex5 .summary > div {
   background-color: #DDEDAA;
   border: 2px solid #93B5C6;
   border-radius: 5px;
   color: #BD4F6C;
   padding: 5px;
   width: 210px;
}

#mod3-ex5 .summary div p {
   display: flex;
   justify-content: space-between;
}

#mod3-ex5 .related-content {
   margin-left: 100px;
}

#mod3-ex5 .related-content h2 {
   font-size: 18px;
}

#mod3-ex5 .main-content {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   flex-basis: 70%;
}

#mod3-ex5 .ingredients, #mod3-ex5 .directions {
   flex-grow: 1;
   flex-basis: 45%;
}

#mod3-ex5 .related-content {
   flex-grow: 1;
   flex-basis: 20%;
}