.byname {
   color: blue;
}
.byrgb {
   color: rgb(0, 255, 0);
}
.byhsl {
   color: hsl(200, 100%, 50%);
}

p.classifieds {
   font: 10pt monospace;
}

h3.classifieds {
   text-decoration: underline;
   font: monospace;
   margin-top: 20px;
   margin-bottom: 0;
}

.floating-images {
   width: 50%;
   padding: 10px;
   margin: 10px;
}
img {
   width: 160px;
   padding: 2px;
   border: 5px groove gray;
   margin: 5px 10px 20px;
}

img.floatright {
   float:right;
}

img.floatleft {
   float:left;
}

.nofloats {
   clear:both;
}

.clear-floats {
   clear: both;
}

.box-model-example span {
   padding-left: 5px;
   padding-right: 5px;
   border-top: 2px solid black;
   border-bottom: 4px solid gray;
}
   
.box-model-example p {
   padding: 10px;
   border-style: ridge;
   border-color: lightgreen;
   border-width: 10px;
   margin: 5px;
}

.box-model-example {
   width: 500px;
   background-color: #f0f8ff;
   margin-bottom: 20px;
}